.footer{
	background-color: black;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;

	padding: 50px 0;
}

.footer a{
	display: flex;
	width: fit-content;
	align-self: center;
	padding-bottom: 25px;
}

.footer p{
	font-family: Montserrat;
	font-weight: 500;
	font-size: 24px;
}

@media screen and (max-width: 650px) {
	.footer {
		padding: 45px 0;
		margin-top: 0px;
	}
	
	.footer p{
		font-size: 12px;
	}
}